<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글</title>
</head>
<body>
  <h2>게시글 리스트</h2>
  <table border="1">
    <colgroup>
      <col width = "60"><col width = "200"><col width = "100">
    </colgroup>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
      </tr>
    </thead>
    <tbody>
      <% for(i = 0; i < list.length; i++) { %>
        <tr>
          <th><%= i+1 %></th>
          <th><%= list[i].title %></th>
          <th><%= list[i].ID %></th>
        </tr>
      <% } %>
    </tbody>
    </table border='1'>

    <button onclick="location.href='../write'">글쓰기</button>
</body>
</html>